.form {
	align-items: flex-start;
}

.maxContent {
	width: max-content;
}

.form__row {
	display: flex;
	gap: 12px;
	width: 100%;
}

.form__row_min {
	display: flex;
	gap: 12px;
	width: 50%;
}

.form__label {
	flex: 1 1;
}

.input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	margin: 8px 0;
	padding: 7px 16px;
	background: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 12px;
}

input:focus {
	border-color: #ffe44d;
	outline: none;
}

.textarea {
	height: auto;
	min-height: 100px;
	resize: none;
}

.form__btn {
	width: 356px;
	margin: 8px 0;
}
