/* TODO: не все тут нужно */

.button {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	transition: background-color 0.3s;
	border: 2px solid transparent;
}

.button:not(:disabled) {
	cursor: pointer;
}

.button_type_primary {
	background-color: #ffe44d;
}

.button_type_primary:not(:disabled):hover {
	color: #f44336;
	background-color: #ffaa0d;
}

.button_type_secondary {
	color: #1a1a1a;
	background: white;
	border: 0.5px solid #cfd8dc;
}

.button_type_secondary:not(:disabled):hover {
	border-color: #7b8e98;
}

.button_size_small {
	padding: 10px 18px;
}

.button_size_medium {
	padding: 14px 24px;
}
