.cart-amount {
	grid-area: amount;
	background: #ffffff;
	box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02),
		0px 2px 16px rgba(96, 97, 112, 0.16);
	border-radius: 20px;
	padding: 16px;
	display: grid;
	grid-auto-rows: min-content;
	row-gap: 24px;
}

.cart-amount__title {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	margin: 0;
}

.cart-amount__table {
	display: grid;
	row-gap: 16px;
}

.cart-amount__table-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-amount__table-title {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.cart-amount__table-value {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
}

.cart-amount__table-value-discount {
	color: #f44336;
}

.cart-amount__total-cost {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-amount__total-cost-title {
	font-weight: 800;
	font-size: 14px;
	line-height: 20px;
}

.cart-amount__total-cost-value {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}
