.input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 4px;
	box-sizing: border-box;
	width: 100%;
}

input:focus {
	border-color: #ffe44d;
	outline: none;
}

.input__input {
	position: static;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding: 7px 16px;
	background: #ffffff;
	border: 1px solid #cfd8dc;
	border-radius: 12px;
}

.input__label {
	color: #7b8e98;
	font-size: 14px;
}
