.content {
	padding: 20px 0;
}

.container {
	max-width: 1024px;
	padding-left: 16px;
	padding-right: 16px;
	width: 95%;
	margin: 0 auto;
}

.content-cart {
	display: grid;
	grid-template-areas: 'info info' 'list amount';
	column-gap: 60px;
	grid-template-columns: 2fr 1fr;
	align-items: flex-start;
}

.cart-title {
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 20px;
	grid-area: info;
}

.cart-title span {
	font-weight: 800;
}
